.quill {
    background-color: var(--quill-background-color);
    font-family: var(--quill-proportional-font);
    font-size: 14px;
}

.quill,
.quill :not(script) {
    color: var(--quill-text-color);
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: flex;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--quill-scrollbar-thumb-color) var(--quill-scrollbar-track-color);
}

.quill .quill-content {
    position: relative;
    flex-grow: 1;
}

.quill .quill-panel {
    border-radius: var(--quill-panel-border-radius-size);
    position: absolute;
    flex-direction: column;
    box-shadow: 0 0 8px black;
    overflow: hidden;
}

.quill .quill-panel-title-bar {
    background-color: var(--quill-panel-title-bar-color);
    padding: var(--quill-panel-padding-size);
    font-size: var(--quill-panel-title-bar-font-size);
    font-weight: bold;
    cursor: move;
    justify-content: space-between;
    align-items: center;
    gap: var(--quill-panel-padding-size);
}
.quill .quill-panel-title-bar > :nth-child(1) {
    overflow: hidden;
}
.quill .quill-panel-title-bar > .quill-button {
    font-size: 1.5em;
    line-height: 0.75em;
    cursor: initial;
    user-select: none;
}

.quill .quill-panel-content {
    background-color: var(--quill-panel-content-color);
    padding: var(--quill-panel-padding-size);
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
    gap: var(--quill-panel-padding-size);
}

.quill table.quill-panel-resizer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
.quill table.quill-panel-resizer > tbody {
    width: 100%;
    flex-direction: column;
}
.quill table.quill-panel-resizer tr:nth-child(1),
.quill table.quill-panel-resizer tr:nth-child(3) {
    height: var(--quill-panel-resizer-size);
}
.quill table.quill-panel-resizer td:nth-child(1),
.quill table.quill-panel-resizer td:nth-child(3) {
    width: var(--quill-panel-resizer-size);
}
.quill table.quill-panel-resizer tr:nth-child(2),
.quill table.quill-panel-resizer td:nth-child(2) {
    flex-grow: 1;
}
.quill table.quill-panel-resizer tr:nth-child(1) > td:nth-child(2),
.quill table.quill-panel-resizer tr:nth-child(3) > td:nth-child(2) {
    cursor: ns-resize;
}
.quill table.quill-panel-resizer tr:nth-child(2) > td:nth-child(1),
.quill table.quill-panel-resizer tr:nth-child(2) > td:nth-child(3) {
    cursor: ew-resize;
}
.quill .quill-panel-resizer tr:nth-child(1) > td:nth-child(1),
.quill .quill-panel-resizer tr:nth-child(3) > td:nth-child(3) {
    cursor: nwse-resize;
}
.quill .quill-panel-resizer tr:nth-child(3) > td:nth-child(1),
.quill .quill-panel-resizer tr:nth-child(1) > td:nth-child(3) {
    cursor: nesw-resize;
}
.quill .quill-panel-resizer td {
    pointer-events: all;
}
.quill .quill-panel-resizer tr:nth-child(2) > td:nth-child(2) {
    pointer-events: none;
}

.quill .quill-menu-bar {
    background-color: var(--quill-menu-color);
    flex-direction: row;
    flex-grow: 1;
}
.quill .quill-menu-item {
    border-radius: var(--quill-item-border-radius-size);
    position: relative;
    display: table-row;
}
.quill .quill-menu-item > * {
    padding: var(--quill-item-padding-size);
    min-width: var(--quill-item-border-radius-size);
    display: table-cell;
    vertical-align: middle;
}
.quill .quill-menu-item > :nth-child(1) {
    border-top-left-radius: var(--quill-item-border-radius-size);
    border-bottom-left-radius: var(--quill-item-border-radius-size);
}
.quill .quill-menu-item > :nth-child(3) {
    opacity: 0.75;
}
.quill .quill-menu-item > :nth-child(4) {
    border-top-right-radius: var(--quill-item-border-radius-size);
    border-bottom-right-radius: var(--quill-item-border-radius-size);
}
.quill .quill-menu-bar,
.quill .quill-menu {
    gap: var(--quill-menu-padding-size);
    padding: var(--quill-menu-padding-size);
    user-select: none;
}
.quill .quill-menu-bar > .quill-menu-item {
    padding: 0 0.2em;
}
.quill .quill-menu-bar > .quill-menu-item > :empty,
.quill .quill-menu-bar > .quill-menu-item > :nth-child(4) {
    display: none;
}
.quill :not(.quill-menu-bar) > .quill-menu-item > :nth-child(2) {
    padding: var(--quill-item-padding-size) calc(0.5em + var(--quill-item-padding-size));
}

.quill .quill-menu-item:hover,
.quill .quill-menu-item.active {
    background-color: var(--quill-item-hover-color);
}
.quill .quill-menu {
    padding: 0 var(--quill-menu-padding-size);
    background-color: var(--quill-menu-color);
    border-radius: var(--quill-menu-border-radius-size);
    flex-direction: column;
    box-shadow: 0 0 8px black;
    position: absolute;
    z-index: 9999;
    display: none;
    border-spacing: 0 var(--quill-menu-padding-size);
}
.quill .quill-menu.active {
    display: table;
}

.quill .quill-column-layout {
    flex-direction: column;
    gap: var(--quill-panel-padding-size);
}

.quill .quill-row-layout {
    flex-direction: row;
    gap: var(--quill-panel-padding-size);
}

.quill .quill-fixed-canvas {
    flex-grow: 1;
    justify-content: center;
}
.quill .quill-fixed-canvas > canvas {
    object-fit: contain;
    height: 100%;
}

.quill .quill-separator {
    display: table-row;
}
.quill .quill-separator > * {
    border: 0 solid var(--quill-separator-color);
    border-top-width: 1px;
    display: table-cell;
}

.quill .quill-arrow-right {
    border: solid var(--quill-text-color);
    border-width: 0 0.2em 0.2em 0;
    width: 0.5em;
    height: 0.5em;
    margin: 0 0.2em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    flex-shrink: 0;
}

.quill .quill-tree {
    flex-direction: column;
}
.quill .quill-tree > :nth-child(1) {
    align-items: center;
    gap: 0.2em;
    padding: var(--quill-item-padding-size);
    border-radius: var(--quill-item-border-radius-size);
}
.quill .quill-tree > :nth-child(1):hover {
    background-color: var(--quill-item-hover-color);
}
.quill .quill-tree > :nth-child(2) {
    padding-left: 0.25em;
    margin-left: 1em;
    flex-direction: column;
}
.quill .quill-tree:not(.opened) > :nth-child(2) {
    display: none;
}
.quill .quill-tree.opened > :nth-child(1) > .quill-arrow-right {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
}

.quill .quill-button {
    display: inline-block;
    background: rgba(50, 50, 50);
    padding: var(--quill-item-padding-size) calc(0.1em + var(--quill-item-padding-size));
    border-radius: var(--quill-item-border-radius-size);
}
.quill .quill-button:hover {
    background-color: var(--quill-item-hover-color);
}

.quill .quill-info-tooltip:before {
    content: "🛈";
    user-select: none;
    opacity: 0.5;
    font-size: 1.2em;
    line-height: 1em;
}
