@font-face {
    font-family: DroidSans;
    src: url("../fonts/DroidSans.ttf");
}

.quill {
    height: 100vh;
}

.quill,
.quill :not(script) {
    scrollbar-color: var(--quill-scrollbar-thumb-color) var(--quill-scrollbar-track-color);
    padding: 0;
    margin: 0;
    white-space: nowrap;
    box-sizing: border-box;
    scrollbar-width: var(--quill-scrollbar-width);
    user-select: none;
}
.quill,
.quill div,
.quill fieldset {
    display: flex;
}

.quill {
    background: var(--quill-background-color);

    * {
        font-family: var(--quill-proportional-font);
        color: var(--quill-text-color);
        font-size: var(--quill-font-size);
        opacity: 1;
        &:focus {
            outline: none;
        }
    }

    fieldset {
        border: none;
    }

    input.quill-input:disabled,
    select.quill-select:disabled,
    .quill-drag input:disabled + output,
    .quill-button:disabled,
    .quill-text[muted] {
        color: var(--quill-input-disabled-color);
        background: var(--quill-item-disabled-bg-color);
        box-shadow: none;
        &::placeholder {
            color: transparent;
        }
        &::-webkit-slider-thumb {
            background: var(--quill-input-disabled-color);
        }
        + output {
            color: var(--quill-input-disabled-color);
            text-shadow: 1px 0 var(--quill-item-disabled-bg-color), -1px 0 var(--quill-item-disabled-bg-color),
                0 -1px var(--quill-item-disabled-bg-color), 0 1px var(--quill-item-disabled-bg-color);
        }
    }
    .quill-button:disabled {
        color: var(--quill-text-disabled-color);
    }
    input.quill-input[type="radio"]:disabled:checked::after {
        background: var(--quill-input-disabled-color);
    }
    input.quill-input[type="checkbox"]:disabled::after {
        border-color: var(--quill-input-disabled-color);
    }
    input.quill-input[type="color"]:disabled {
        border-color: var(--quill-item-disabled-bg-color);
    }

    .quill-content {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
    }

    .quill-tooltip {
        border-radius: var(--quill-panel-rounding-size);
        box-shadow: 0 calc(1 * var(--quill-shadow-size)) calc(2 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
        border: var(--quill-panel-border-size) solid rgb(from var(--quill-border-color) r g b / 0.5);
        background: var(--quill-panel-content-bg-color);
        padding: var(--quill-panel-padding-size);
        position: absolute;
        z-index: 99999;
        display: none;
    }

    .quill-modal-overlay {
        background: rgba(100, 100, 100, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .quill-panel {
        border-radius: var(--quill-panel-rounding-size);
        box-shadow: 0 calc(1.5 * var(--quill-shadow-size)) calc(3 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
        border: var(--quill-panel-border-size) solid rgb(from var(--quill-border-color) r g b / 0.5);
        position: absolute;
        flex-direction: column;
        overflow: hidden;
    }

    .quill-panel-title-bar {
        background: var(--quill-panel-title-bar-bg-color);
        padding: var(--quill-title-bar-padding-size-y) calc(0.25em + var(--quill-title-bar-padding-size-x));
        gap: var(--quill-panel-gap-size);
        cursor: move;
        align-items: center;
        > :nth-child(1) {
            text-align: var(--quill-panel-title-bar-text-align);
            display: initial;
            overflow: hidden;
            flex-grow: 1;
        }
    }

    .quill-button.quill-close-button,
    .quill-button.quill-close-button:not(:disabled) {
        box-shadow: none;
        padding: 0;
        cursor: initial;
        background: transparent;
        border-radius: 0;
        overflow: hidden;
        position: relative;
        width: 1em;
        height: 1em;
        &::after {
            font-size: 2em;
            content: "\00d7";
            font-family: none;
            position: absolute;
            transform: translate(-50%, -50%);
            font-weight: bold;
        }
        &:hover,
        &:focus {
            background: transparent;
        }
        &:not(:disabled) {
            box-shadow: none;
        }
    }

    .quill-panel-content {
        background: var(--quill-panel-content-bg-color);
        overflow: auto;
        flex-grow: 1;
        > div {
            padding: var(--quill-panel-padding-size);
            gap: var(--quill-panel-gap-size);
            flex-grow: 1;
            flex-direction: column;
            min-height: fit-content;
        }
    }

    .quill-panel-resizer {
        grid-template-columns: 5px auto 5px;
        grid-template-rows: 5px auto 5px;
        display: grid;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        > :not(:nth-child(5)) {
            pointer-events: all;
        }
        > :nth-child(2n + 4) {
            cursor: ew-resize;
        }
        > :nth-child(4n + 3) {
            cursor: nesw-resize;
        }
        > :nth-child(6n + 2) {
            cursor: ns-resize;
        }
        > :nth-child(8n + 1) {
            cursor: nwse-resize;
        }
    }

    .quill-menu-item {
        border-radius: var(--quill-item-rounding-size);
        gap: var(--quill-item-inner-gap-size);
        position: relative;
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/5;
        overflow: hidden;
        &:hover,
        &.active {
            background: var(--quill-item-hovered-bg-color);
            > :nth-child(2) {
                color: var(--quill-item-hovered-color);
            }
            .quill-arrow-right {
                color: var(--quill-item-hovered-color);
            }
        }
        > * {
            padding: var(--quill-menu-item-padding-size-y) calc(0.25em + var(--quill-menu-item-padding-size-x));
            align-items: center;
        }
        > :nth-child(3) {
            opacity: 0.5;
        }
        input.quill-input[type="checkbox"] {
            margin: calc(-1 * var(--quill-menu-item-padding-size-y)) 0;
            &:not(:disabled) {
                box-shadow: none;
                background: transparent;
                &::hover,
                &::focus {
                    background: transparent;
                }
            }
        }
    }

    :not(.quill-menu-bar) > .quill-menu-item > :nth-child(2) {
        padding: var(--quill-menu-item-padding-size);
    }

    .quill-menu-bar {
        background: var(--quill-menu-bg-color);
        flex-grow: 1;
        > .quill-menu-item {
            display: flex;
        }
        > .quill-menu-item > :empty,
        > .quill-menu-item > :nth-child(4) {
            display: none;
        }
    }

    .quill-menu-bar,
    .quill-menu {
        gap: var(--quill-menu-gap-size);
        padding: var(--quill-menu-padding-size);
    }

    .quill-menu {
        padding: var(--quill-menu-padding-size);
        background: var(--quill-menu-bg-color);
        border-radius: var(--quill-menu-rounding-size);
        box-shadow: 0 calc(1 * var(--quill-shadow-size)) calc(2 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
        border: var(--quill-menu-border-size) solid rgb(from var(--quill-border-color) r g b / 0.5);
        position: absolute;
        z-index: 9999;
        display: none;
        grid-template-columns: repeat(4, auto);
        overflow: hidden;
        &.active:not(:empty) {
            display: grid;
        }
    }

    .quill-fixed-canvas {
        flex-grow: 1;
        justify-content: center;
        > canvas {
            object-fit: contain;
            height: 100%;
        }
    }

    .quill-separator {
        border: var(--quill-separator-size) solid rgb(from var(--quill-separator-color) r g b / 0.5);
        border-right-width: 0;
        border-bottom-width: 0;
        .quill-menu & {
            grid-column: 1/5;
        }
    }

    .quill-separator-text {
        border-top: var(--quill-separator-text-border-size) solid rgb(from var(--quill-separator-color) r g b / 0.5);
        padding: 0 var(--quill-separator-text-padding-size-x);
        > legend {
            padding: var(--quill-separator-text-padding-size-y) 8px;
            text-align: var(--quill-separator-text-align);
        }
    }

    .quill-spacing {
        width: var(--quill-font-size);
        height: var(--quill-font-size);
    }

    .quill-row {
        gap: var(--quill-panel-gap-size);
    }

    .quill-arrow-right {
        padding: 0 var(--quill-item-padding-size-x);
        color: var(--quill-text-color);
        width: 1em;
        height: 1em;
        font-family: none;
        display: flex;
        align-items: center;
        box-sizing: content-box;
        &::after {
            content: "\25b6";
            text-align: center;
            width: 100%;
            font-size: 0.65em;
        }
    }

    .quill-indent {
        padding-left: var(--quill-indentation-size);
        flex-direction: column;
    }

    .quill-tree,
    .quill-collapsing-header {
        flex-direction: column;
        border-radius: var(--quill-item-rounding-size);
    }

    .quill-tree-header {
        border-radius: var(--quill-item-rounding-size);
        align-items: center;
        gap: 0.2em;
        > :nth-child(2) {
            overflow: hidden;
            flex-grow: 1;
        }
        &:hover {
            background: var(--quill-header-hovered-color);
            > div {
                color: var(--quill-item-hovered-color);
            }
            .quill-arrow-right {
                color: var(--quill-item-hovered-color);
            }
        }
        .quill-collapsing-header > & {
            box-shadow: 0 calc(0.5 * var(--quill-shadow-size)) calc(1 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
            background: var(--quill-header-color);
            padding: var(--quill-item-padding-size-y) 0;
            > :nth-child(2) {
                padding: 0 var(--quill-item-padding-size-x);
            }
            &:hover {
                background: var(--quill-header-hovered-color);
            }
            .quill-arrow-right::after {
                font-size: 0.9em;
            }
        }
    }

    .quill-tree-body {
        flex-direction: column;
        &:not(:empty) {
            gap: var(--quill-panel-gap-size);
            margin-top: var(--quill-panel-gap-size);
        }
        :not(.expanded) > & {
            display: none;
        }
    }

    .expanded > .quill-tree-header > .quill-arrow-right::after {
        content: "\25bc";
    }

    .quill-table,
    .quill-table-header-row,
    .quill-table-header-cell {
        border: var(--quill-table-border-strong-size) none var(--quill-table-border-strong-color);
    }
    .quill-table {
        border-collapse: collapse;
        border-top-style: var(--quill-table-borders-outer-h);
        border-right-style: var(--quill-table-borders-outer-v);
        border-bottom-style: var(--quill-table-borders-outer-h);
        border-left-style: var(--quill-table-borders-outer-v);
        height: fit-content;
        .quill-table-row,
        .quill-table-cell {
            border: var(--quill-table-border-light-size) none var(--quill-table-border-light-color);
        }
        .quill-table-header-row:not(:last-child),
        .quill-table-row:not(:last-child) {
            border-bottom-style: var(--quill-table-borders-inner-h);
        }
        .quill-table-header-cell:not(:last-child),
        .quill-table-cell:not(:last-child) {
            border-right-style: var(--quill-table-borders-inner-v);
        }
        .quill-table-row:nth-child(even) {
            background: var(--quill-table-row-bg);
        }
        .quill-table-cell,
        .quill-table-header-cell {
            padding: calc(var(--quill-item-gap-size) / 2) calc(var(--quill-item-inner-gap-size) / 2);
        }
        .quill-table-header-cell {
            background: var(--quill-table-header-bg-color);
            &:hover {
                background: var(--quill-header-hovered-color);
                color: var(--quill-item-hovered-color);
            }
        }
    }

    .quill-button {
        background: var(--quill-button-color);
        padding: var(--quill-item-padding-size-y) calc(0.25em + var(--quill-item-padding-size-x));
        border: var(--quill-input-border-size) solid rgb(from var(--quill-border-color) r g b / 0.5);
        border-radius: var(--quill-input-rounding-size);
        display: inline-block;
        width: fit-content;
        &:not(:disabled) {
            color: var(--quill-input-color);
            box-shadow: 0 calc(0.5 * var(--quill-shadow-size)) calc(1 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
            &:hover,
            &:focus {
                background: var(--quill-button-hovered-color);
                color: var(--quill-input-hovered-color);
            }
        }
    }

    .quill-info-tooltip {
        width: fit-content;
        &:before {
            content: "🛈";
            user-select: none;
            font-size: 1.2em;
            line-height: 1em;
            align-self: center;
            color: var(--quill-text-disabled-color);
        }
    }

    .quill-text {
        white-space: var(--quill-wrap-text);
    }

    .quill-fieldset {
        padding-top: var(--quill-panel-padding-size-y);
        background: var(--quill-panel-content-bg-color);
        border: var(--quill-separator-text-border-size) solid rgb(from var(--quill-border-color) r g b / 0.5);
        gap: var(--quill-item-gap-size);
        flex-direction: column;
        height: fit-content;
        border: var(--quill-separator-text-border-size) solid rgb(from var(--quill-separator-color) r g b / 0.5);
        padding: var(--quill-panel-padding-size);
        > legend {
            padding: var(--quill-separator-text-padding-size-y) 8px;
            text-align: var(--quill-fieldset-legend-text-align);
            margin: 0 calc(var(--quill-separator-text-padding-size-x) - var(--quill-panel-padding-size-x));
            /* font-size: calc(var(--quill-font-size) * 1.1); */
        }
    }

    .quill-label {
        gap: var(--quill-item-inner-gap-size);
        width: var(--quill-justify-labels);
        flex-direction: var(--quill-labels-left);
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover:has(input:enabled),
        &:hover:has(select:enabled) {
            color: var(--quill-item-hovered-color);
            > * {
                color: var(--quill-item-hovered-color);
            }
        }
        &:not(:has(input:enabled)):not(:has(select:enabled)) {
            color: var(--quill-text-disabled-color);
            > * {
                color: var(--quill-text-disabled-color);
            }
        }
    }

    .quill-multi-component-input {
        gap: var(--quill-item-inner-gap-size);
        > .quill-label {
            gap: 0;
            flex-grow: 1;
            > :nth-child(1) {
                flex-grow: 1;
            }
            > :nth-child(2) {
                flex: 0 0 0;
            }
        }
    }

    select.quill-select,
    select.quill-select option,
    input.quill-input {
        display: flex;
        background: var(--quill-item-bg-color);
        font-family: var(--quill-monospace-font);
        border-radius: var(--quill-input-rounding-size);
        color: var(--quill-input-color);
        border: var(--quill-input-border-size) solid rgb(from var(--quill-border-color) r g b / 0.5);
        text-align: var(--quill-input-text-align);
        outline: none;
        height: 1.2em;
        box-sizing: content-box;
        box-shadow: 0 calc(0.5 * var(--quill-shadow-size)) calc(1 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
        &:not(:disabled) {
            &:hover,
            &:focus {
                color: var(--quill-input-hovered-color);
                background: var(--quill-item-hovered-bg-color);
            }
        }
        &::placeholder {
            color: var(--quill-text-disabled-color);
        }
    }

    select.quill-select {
        padding: var(--quill-item-padding-size);
        optgroup {
            background: var(--quill-item-bg-color);
            color: var(--quill-text-color);
            font-family: var(--quill-proportional-font);
            font-size: var(--quill-font-size);
        }
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: var(--quill-scrollbar-track-color);
        }
        &::-webkit-scrollbar-thumb {
            background: var(--quill-scrollbar-thumb-color);
        }
    }

    .quill-checkbox-tree,
    .quill-checkbox-tree-body {
        gap: var(--quill-item-gap-size);
        flex-direction: column;
    }

    .quill-input[type="checkbox"] {
        border-radius: 0;
        height: calc(1.2em + 2 * var(--quill-item-padding-size-y));
        width: calc(1.2em + 2 * var(--quill-item-padding-size-y));
        appearance: none;
        &::after {
            border: 0 solid var(--quill-checkmark-color);
            content: "";
            display: block;
        }
        &:checked::after {
            border-width: 0 0.25em 0.25em 0;
            width: 25%;
            height: 50%;
            margin: 10% auto;
            transform: rotate(45deg);
        }
        &:indeterminate::after {
            position: absolute;
            top: 50%;
            left: 20%;
            margin: 0 auto;
            border-top-width: 0.2em;
            width: 60%;
            transform: translateY(-50%);
        }
        &:hover,
        &:focus {
            &::after {
                border-color: var(--quill-checkmark-hovered-color);
            }
        }
    }

    input.quill-input[type="text"] {
        padding: var(--quill-item-padding-size-y) calc(0.25em + var(--quill-item-padding-size-x));
    }

    input.quill-input[type="number"] {
        padding: var(--quill-item-padding-size-y) calc(0.25em + var(--quill-item-padding-size-x));
        appearance: textfield;
        margin: 0;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    .quill-slider {
        position: relative;
        flex-grow: 1;
        input {
            padding: var(--quill-item-padding-size);
            flex-grow: 1;
            appearance: none;
            &::-webkit-slider-thumb {
                border-radius: var(--quill-grab-rounding-size);
                appearance: none;
                width: 1.2em;
                height: 1.2em;
                outline: none;
            }
            + output {
                border-radius: var(--quill-input-rounding-size);
                font-family: var(--quill-monospace-font);
                padding: 0 1px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                pointer-events: none;
                text-align: center;
                align-content: center;
            }
            &:not(:disabled) {
                &::-webkit-slider-thumb {
                    cursor: pointer;
                    background: var(--quill-slidergrab-color);
                }
                + output {
                    color: var(--quill-input-color);
                    text-shadow: 1px 0 var(--quill-item-bg-color), -1px 0 var(--quill-item-bg-color),
                        0 -1px var(--quill-item-bg-color), 0 1px var(--quill-item-bg-color);
                }
                &:hover,
                &:focus {
                    &::-webkit-slider-thumb {
                        background: var(--quill-slidergrab-hovered-color);
                    }
                    + output {
                        text-shadow: 1px 0 var(--quill-item-hovered-bg-color), -1px 0 var(--quill-item-hovered-bg-color),
                            0 -1px var(--quill-item-hovered-bg-color), 0 1px var(--quill-item-hovered-bg-color);
                        color: var(--quill-input-hovered-color);
                    }
                }
            }
        }
    }

    .quill-drag {
        position: relative;
        flex-grow: 1;
        input {
            padding: var(--quill-item-padding-size);
            flex-grow: 1;
            appearance: none;
            &::-webkit-slider-thumb {
                appearance: none;
            }
            + output {
                border-radius: var(--quill-input-rounding-size);
                font-family: var(--quill-monospace-font);
                border: var(--quill-input-border-size) solid rgb(from var(--quill-border-color) r g b / 0.5);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                pointer-events: none;
                text-align: center;
                align-content: center;
            }
            &:not(:disabled) {
                + output {
                    background: var(--quill-item-bg-color);
                    color: var(--quill-input-color);
                }
                &:hover,
                &:focus {
                    + output {
                        color: var(--quill-input-hovered-color);
                        background: var(--quill-item-hovered-bg-color);
                    }
                }
            }
        }
    }

    .quill-radio-buttons {
        display: flex;
        border: none;
        gap: var(--quill-item-gap-size);
        > label {
            width: auto;
        }
    }

    input.quill-input[type="radio"] {
        height: calc(1.2em + 2 * var(--quill-item-padding-size-y));
        width: calc(1.2em + 2 * var(--quill-item-padding-size-y));
        appearance: none;
        &::after {
            content: "";
            display: block;
            width: 1.2em;
            height: 1.2em;
            margin: var(--quill-item-padding-size-y);
            border-radius: 100%;
        }
        border-radius: 100%;
        &:not(:disabled):checked {
            &::after {
                background: var(--quill-checkmark-color);
            }
            &:hover,
            &:focus {
                &::after {
                    background: var(--quill-checkmark-hovered-color);
                }
            }
        }
    }

    input.quill-input[type="color"] {
        border: 2px solid var(--quill-item-bg-color);
        appearance: none;
        height: auto;
        width: fit-content;
        &:not(:disabled) {
            &:hover,
            &:focus {
                border-color: var(--quill-item-hovered-bg-color);
            }
        }
        &::-webkit-color-swatch-wrapper {
            padding: 0;
        }
        &::-webkit-color-swatch {
            padding: calc(0.6em + var(--quill-item-padding-size-y) - 2px)
                calc(0.6em + var(--quill-item-padding-size-x) - 2px);
            border: none;
        }
    }

    .quill-tabs {
        flex-direction: column;
        .quill-tabs-header {
            border-bottom: var(--quill-tab-bar-border-size) solid var(--quill-tab-selected-color);
            gap: var(--quill-item-inner-gap-size);
            > div {
                border: var(--quill-tab-border-size) solid rgb(from var(--quill-border-color) r g b / 0.5);
                border-bottom: none;
                box-shadow: 0 calc(0.5 * var(--quill-shadow-size)) calc(1 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
                background: var(--quill-tab-color);
                padding: var(--quill-item-padding-size-y) calc(0.25em + var(--quill-item-padding-size-x));
                border-top-left-radius: var(--quill-tab-rounding-size);
                border-top-right-radius: var(--quill-tab-rounding-size);
                overflow: hidden;
                padding-bottom: var(--quill-item-padding-size-y);
            }
            > div.active {
                background: var(--quill-tab-selected-color);
            }
            > div:hover {
                background: var(--quill-tab-hovered-color);
            }
            > div.active,
            > div:hover {
                box-shadow: 0 calc(1 * var(--quill-shadow-size)) calc(2 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
                color: var(--quill-item-hovered-color);
            }
        }
        .quill-tabs-body {
            padding: var(--quill-panel-padding-size);
            box-shadow: 0 calc(1 * var(--quill-shadow-size)) calc(2 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
            background: var(--quill-panel-content-bg-color);
        }
        .quill-tab {
            gap: var(--quill-panel-gap-size);
            flex-direction: column;
            flex-grow: 1;
            &:not(.active) {
                display: none;
            }
        }
    }

    .quill-dynamic-rows {
        padding: var(--quill-item-padding-size);
        flex-grow: 1;
        overflow: auto;
        height: 0;
        width: 0;
        min-width: 100%;
        min-height: 9.6em;
        .quill-dynamic-rows-list {
            flex-direction: column;
            .quill-row {
                width: fit-content;
            }
        }
        .quill-dynamic-rows-offset {
            flex-direction: column;
        }
    }

    .quill-wrapper {
        display: contents;
    }

    .quill-hex-editor {
        flex-grow: 1;
        flex-direction: column;
        width: fit-content;

        &.quill-grey-out-zeroes
            .quill-dynamic-rows-list
            .quill-hex-editor-data
            > .quill-hex-editor-byte[data-value="0"]:not(:hover),
        &.quill-grey-out-zeroes
            .quill-dynamic-rows-list
            .quill-hex-editor-ascii
            > .quill-hex-editor-byte[data-value="."]:not(:hover) {
            color: var(--quill-input-disabled-color);
        }

        /* TODO: Is there a nicer way to do this? */
        &[data-hovered-column="0"] .quill-hex-editor-byte:nth-child(1),
        &[data-hovered-column="1"] .quill-hex-editor-byte:nth-child(2),
        &[data-hovered-column="2"] .quill-hex-editor-byte:nth-child(3),
        &[data-hovered-column="3"] .quill-hex-editor-byte:nth-child(4),
        &[data-hovered-column="4"] .quill-hex-editor-byte:nth-child(5),
        &[data-hovered-column="5"] .quill-hex-editor-byte:nth-child(6),
        &[data-hovered-column="6"] .quill-hex-editor-byte:nth-child(7),
        &[data-hovered-column="7"] .quill-hex-editor-byte:nth-child(8),
        &[data-hovered-column="8"] .quill-hex-editor-byte:nth-child(9),
        &[data-hovered-column="9"] .quill-hex-editor-byte:nth-child(10),
        &[data-hovered-column="10"] .quill-hex-editor-byte:nth-child(11),
        &[data-hovered-column="11"] .quill-hex-editor-byte:nth-child(12),
        &[data-hovered-column="12"] .quill-hex-editor-byte:nth-child(13),
        &[data-hovered-column="13"] .quill-hex-editor-byte:nth-child(14),
        &[data-hovered-column="14"] .quill-hex-editor-byte:nth-child(15),
        &[data-hovered-column="15"] .quill-hex-editor-byte:nth-child(16) {
            background: rgb(from var(--quill-item-hovered-bg-color) r g b / 0.5);
        }

        .quill-dynamic-rows {
            width: fit-content;
            input.quill-hex-editor-byte:hover:not(:disabled) {
                color: var(--quill-input-hovered-color);
            }
            .quill-row:hover > div {
                background: rgb(from var(--quill-item-hovered-bg-color) r g b / 0.5);
            }
        }

        .quill-row {
            gap: 1em;
            > div > .quill-hex-editor-byte:nth-child(4n + 1):not(:nth-child(1)) {
                margin-left: 0.4em;
            }
        }

        > .quill-row > .quill-hex-editor-data > .quill-hex-editor-byte {
            color: var(--quill-text-color);
            user-select: none;
        }

        .quill-hex-editor-address {
            font-family: var(--quill-monospace-font);
        }

        .quill-hex-editor-data {
            > * {
                font-family: var(--quill-monospace-font);
                font-size: var(--quill-font-size);
                padding: 0 0.2em;
            }
            > .quill-hex-editor-byte {
                color: var(--quill-input-color);
                outline: none;
                border: none;
                background: transparent;
                width: 3ch;
                &[data-address]:disabled {
                    color: var(--quill-input-disabled-color);
                }
            }
        }

        .quill-hex-editor-byte,
        .quill-hex-editor-ascii > div {
            font-family: var(--quill-monospace-font);
            font-size: var(--quill-font-size);
        }

        .quill-hex-editor-ascii > div {
            width: 1ch;
        }
    }

    .quill-plot {
        position: relative;
        overflow: hidden;
        border-radius: var(--quill-input-rounding-size);
        box-shadow: 0 calc(0.5 * var(--quill-shadow-size)) calc(1 * var(--quill-shadow-size)) rgba(0, 0, 0, 0.3);
        > canvas {
            background: var(--quill-item-bg-color);
        }
    }
    .quill-plot > div {
        position: absolute;
        pointer-events: none;
        left: 50%;
        transform: translateX(-50%);
        font-family: var(--quill-monospace-font);
        color: var(--quill-text-color);
        text-shadow: 1px 0 var(--quill-item-bg-color), -1px 0 var(--quill-item-bg-color), 0 1px var(--quill-item-bg-color),
            0 -1px var(--quill-item-bg-color);
    }
    .quill-progress-bar > div {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
